*{
    margin: 0;
    padding:0;
}
/*GRID*/
.containerGrande{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    ". h2 ."
    "productos1 . productos2"
    "productos3 . productos4"
    "productos5 . productos6"
    "footer footer footer";
    grid-row-gap: 0.5rem;
    
}

/*NAV BAR*/
nav{
    background-color: black;
    color: white;  
    grid-area: nav; 
    width: 100%;
    padding-bottom: 10px;
}

.uListaNav{
    display: flex;
    flex-direction: column;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    padding-top: 2%;
    list-style: none;

}

.uListaNav li a{
    text-decoration: none;
    color: white ;
    
}
/*BANNER*/
header{
    background-color: black;
    text-align: center;
    color: blanchedalmond;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-area: header;
    width: 100%;
}
/*SUBTITULO*/
h2{
    background-color: black;
    text-align: center;
    color: blanchedalmond;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-area: h2;
    width: 100%;
    text-transform: uppercase;
}


/*CARRO*/
.oculto{
    display: none;
}
.visible{
    display: block;
}
/*PRODUCTOS*/
#productos1{
    grid-area: productos1;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center ;
    position: relative;
}

.sorrento{
    display: block;
    width: 80%;
    height: auto;
    border-radius: 6mm;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left:   5%;
    right: 0;
    width: 80% !important;
    height: 100% !important;
    z-index: 10;
    height: auto;
    
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.521);
    color: greenyellow;
    
    text-align: center;
    border-radius: 6mm;
  }

 
  .overlay ul{
      padding-top: 10%;
      text-decoration: none;
      
  }

  .overlay ul li{
      font-size: 1.2rem;
      text-decoration: none;
  }
  #productos1:hover .overlay {
    opacity: 1;
  }

#productos2{
    background-color: green;
    grid-area: productos2;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center ;
    position: relative;
}
#productos2:hover .overlay {
    opacity: 1;
  }

#productos3{
    background-color: indianred;
    grid-area: productos3;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center ;
    position: relative;
}
#productos3:hover .overlay {
    opacity: 1;
  }
#productos4{
    background-color: blue;
    grid-area: productos4;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center ;
    position: relative;
}
#productos4:hover .overlay {
    opacity: 1;
  }
#productos5{
    background-color: chocolate;
    grid-area: productos5;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center ;
    position: relative;
}
#productos5:hover .overlay {
    opacity: 1;
  }
#productos6{
    background-color: red;
    grid-area: productos6;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center ;
    position: relative;
}
#productos6:hover .overlay {
    opacity: 1;
  }




/*FOOTER*/
footer{
    background-color: seagreen;
    grid-area: footer;
    height: auto;
    width: 100%;
}

.listasFooter{
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none; 
}
.listaImagen{
    background-color: seagreen;
    padding-left: 5em;
    list-style: none;
}


.listaContacto{
    padding-right: 15%;
    
}

.contacto{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 2%;
}
.listaContacto li{
    list-style: none;
    
} */

.firma{
    text-align: center;
    background-color: blanchedalmond;
    font-size: 25px;   
}


.firma a{
    background-color: steelblue;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 25px;
} 
/*MEDIA QUERIES*/


@media only screen and (max-width: 700px) {
    
   
    .overlay ul{
        padding-top: 10%;
    }
  
    .overlay ul li{
        font-size: 0.2em;
    }
    
}

/*@media only screen and (max-width: 375px) {
    .containerGrande{
        grid-auto-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
        grid-template-areas: "nav"
        "header"
        "h2"
        "productos1"
        "productos2"
        "productos3"
        "productos4"
        "productos5"
        "productos6"
        "footer";
    }

    .overlay ul li{
        font-size: 15px;
    }


}
@media only screen and (max-width: 280px) {
    .containerGrande{
        grid-auto-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
        grid-template-areas: "nav"
        "header"
        "h2"
        "productos1"
        "productos2"
        "productos3"
        "productos4"
        "productos5"
        "productos6"
        "footer";
    }

    .overlay ul li{
        font-size: 15px;
    }


} */
/*@media only screen and (min-width: 300px) and (max-width: 600px) {
    .containerGrande{
        grid-auto-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
        grid-template-areas: "nav"
        "header"
        "h2"
        "productos1"
        "productos2"
        "productos3"
        "productos4"
        "productos5"
        "productos6"
        "footer";
    } 
} */